<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href = "/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>This site created by Oz Blech. It uses data from mapbox.com and darksky.net!</h2>
        <img class ="portrait" src = "/img/123123.jpg">
    </div>
    
    {{>footer}}
</body>
</html>

