<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href = "/css/styles.css">
</head>


<body>
    <div class ="main-content full-height" >
        {{>header}}

        <h2>Use this site to get weather forecast for today ! :)</h2>

        <form>
            <input id="textbox" placeholder="Location">
            <button id="searchBtn">Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        
    </div>

    {{>footer}}

    <script src="/js/app.js"> </script>
</body>


</html>